/* frontend/src/components/Header.css */
.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* 상하 패딩 제거 */
  height: 60px; /* 헤더 높이 증가 */
  background-color: #282c34;
  color: white;
  border-bottom: 1px solid #444;
}

.header-left {
  display: flex;
  align-items: center;
}

.App-logo {
  height: 50px; /* 로고 크기 키움 */
  width: 50px; /* 로고 크기 키움 */
  margin-right: 10px;
}

/* 헤더 제목 스타일 추가 */
.App-header h1 {
  font-size: 1.5em;
  margin: 0;
}

.header-right .nav-link {
  color: #61dafb;
  text-decoration: none;
  margin-left: 20px;
  font-size: 1.0em; /* 폰트 크기 약간 줄임 */
}

.header-right .nav-link:hover {
  text-decoration: underline;
}
